<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title> Binance | Test V0.0.1</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
        <script type="text/javascript">
            $(document).ready(function () {
            });

            function makeReview() {
                $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {sample_give:'샘플데이터'},
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }
            function showReview() {
                // 서버에 리뷰 데이터 요청하기
                $("#result-box").html("");

                $.ajax({
                    type: "GET",
                    url: "/result",
                    data: {},
                    success: function (response) {
                        let results = response['results'];
                        // 읽어온 리뷰 데이터를 테이블(#reviews-box)에 추가하기
                        for (let i=0; i<results.length; i++){
                            let ticker = $('#ticker').val()
                            let ror = results[i]['ROR']
                            let mdd = results[i]['MDD']
                            
                            let temp_html =
                                `
                                <tr>
                                  <td>${ticker}</td>
                                  <td>${ror}</td>
                                  <td>${mdd}</td>
                                </tr>
                                `
                            $('#result-box').append(temp_html)
                        }
                    }
                })
            }
        </script>
        <style type="text/css">
            * {
                font-family: "Do Hyeon", sans-serif;
            }
            h1,
            h5 {
                display: inline;
            }
            .info {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .review {
                text-align: center;
            }
            .reviews {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="info">
                <h1>백테스팅 테스트</h1>
                <p>전략별 누적수익률을 백테스팅 해본다.</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Choose Strategy</label>
                    </div>
                    <select class="custom-select" id="strategy">
                        <option selected>Choose...</option>
                        <option value="1">Volatility Breakout</option>
                        <option value="2">MFI Divergence</option>
                    </select>
                </div>
                  
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ticker</span>
                    </div>
                    <input type="text" class="form-control" id="ticker" placeholder="ETH/USDT, BTC/USDT ...">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">k</span>
                    </div>
                    <input type="text" class="form-control" id="k" placeholder="0~1 사이 입력">
                </div>
                <div class="review">
                    <button onclick="showReview()" type="button" class="btn btn-primary">결과 조회하기</button>
                </div>
            </div>

            <div class="result">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">누적수익율</th>
                        <th scope="col">MDD</th>
                    </tr>
                    </thead>
                    <tbody id="result-box">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>